body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  color:white;
  background:green;
  padding:2em;
}

.input-form-container{
  background:lightgrey;
  padding:1em;
  border-radius:1em;
  width:50%;
  margin:2em;
}

.input-form{
  display: flex;
  flex-direction: column;
}